/* --------------------------------------------------------------------------------
   [All Internet Explorer version styles]
-------------------------------------------------------------------------------- */
html { font-size: 101%; }

/* --------------------------------------------------------------------------------
   [7-8 Internet Explorer version styles]
-------------------------------------------------------------------------------- */	

.line {zoom:1;}
.tovar__data {zoom:1;}

.tovar__extra {zoom:1;}



/* --------------------------------------------------------------------------------
   [7 Internet Explorer version styles]
-------------------------------------------------------------------------------- */

*+html .tov {margin-right:-20px;}


*+html .tovar__desc {dislay:inline; zoom:1; width:290px; white-space:nowrap;}

*+html .tov__item {display:inline; zoom:1;}
